.language-item {
  display: flex;
  align-items: center;
  border: 1px solid #b0bec5;
  padding: 15px 25px;
  border-radius: 5px;
  margin-bottom: 2rem;
  background-color: #fff;
}

.language-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.language-item img {
  width: 80px;
  height: 60px;
  margin-right: 20px;
}

.language-item h1 {
  font-weight: 200;
}