.card-container {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  transition: background-color .1s;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
}

.card-container:first-child {
  margin-top: 0;
}

.card-container:active {
  background-color: rgba(0, 0, 0, .1);
}

.card-container .word-item-container {
  width: 100%;
}

.card-container .word-item-container .word-container {
  padding: 10px 15px;
}

.card-container .word-item-container .word-container h3 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: #39414D;
}

.card-container .word-item-container .word-container .inline-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container .word-item-container .word-container h4 {
  font-weight: 300;
  color: #5E6670;
}

.card-container .word-item-container .word-container span {
  font-weight: 100;
  color: #ffffff;
  font-size: 10px;
  padding: 1px 5px;
  border-radius: 5px;
  min-width: 22px;
  text-align: center;
}

.card-container .word-item-container .word-container .mt2 {
  margin-top: 2px;
}