.menuItem {
  display: flex;
  align-items: center;
  font-size: 17px;
}

.menuItem span {
  color: #000000;
}

.menuItem i {
  margin-right: 5px;
  font-size: 22px;
  color: #5E6670;
}

.smallest {
  font-size: 20px !important;
  margin-left: 3px;
}